<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Nueva Región</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <script th:href="@{/js/bootstrap.min.js}"></script>
    </head>
    <body class="container">
        <div th:replace="fragments/fragmento.html :: barraSuperior(actual='region')"></div>

        <h2 th:text="${region.regionname==null?'Nueva Región':'Editar Región'}"></h2><hr />

        <form method="post" th:object="${region}" th:action="@{'/regions/save'}">
            <div class="form-group">
                <label for="regionname">Nombre de la región</label>
                <input  type="text" class="form-control" th:field="*{regionname}">
                <div class="text-danger" th:if="${#fields.hasErrors('regionname')}"
                     th:errors="*{regionname}"></div>
            </div>

            <a th:href="@{'/regions/list'}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary" th:text="${region.regionname==null?'Registrar':'Actualizar'}"></button>
        </form>

    </body>
</html>