<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Listar Regiones</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <script th:href="@{/js/bootstrap.min.js}"></script>
    </head>
    <body class="container">
        <div th:replace="fragments/fragmento.html :: barraSuperior(actual='region')"></div>

        <h2>Lista de Regiones</h2>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{'/regions/create'}">Nueva Región</a>
        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>

        <table class="table table-sm">
            <tr>
                <th>#</th>
                <th>Nombre de región</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="region, i:${lista}">
                <td th:text="${i.index +1}"></td>
                <td th:text="${region.region_name}"></td>
                <td><a class="btn btn-primary" th:href="@{'/regions/edit?id=' + ${region.regionid}}">Editar</a></td>
                <td><a class="btn btn-danger" th:href="@{'/regions/delete?id=' + ${region.regionid}}">Borrar</a></td>
            </tr>
        </table>
        
    </body>
</html>