<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    </head>
    <body class="container">
        <h2>Gestión HR-SW2</h2>
        <a th:href="@{'/countries/list'}">Lista de países</a><br />
        <a th:href="@{'/regions/list'}">Lista de regiones</a><br />
        <a th:href="@{'/department/listar'}">Lista de departamentos</a><br />
        <a th:href="@{'/employee/list'}">Checkea los empleados :)</a><br />
    </body>
</html>