<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Nuevo País</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <script th:href="@{/js/bootstrap.min.js}"></script>
    </head>
    <body class="container">
        <div th:replace="fragments/fragmento.html :: barraSuperior(actual='country')"></div>

        <h2 th:text="${pais.countryname==null?'Nuevo País':'Editar País'}"></h2><hr />

        <form method="post" th:object="${pais}" th:action="@{'/countries/save'}">
            <div class="form-group">
                <label for="countryid">Id del país</label>
                <input name="countryid" type="text" class="form-control" id="countryid">
            </div>
            <div class="form-group">
                <label for="countryname">Nombre del país</label>
                <input type="text" class="form-control" th:field="*{countryname}">
                <div class="text-danger" th:if="${#fields.hasErrors('countryname')}" th:errors="*{countryname}"></div>
            </div>
            <div class="form-group">
                <label for="region">Nombre de la región</label>
                <select class="form-control" th:field="*{region}">
                    <option th:each="region : ${listaR}" th:value="${region.regionid}" th:text="${region.regionname}"></option>
                </select>
            </div>

            <a th:href="@{'/countries/list'}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary" th:text="${pais.countryname==null?'Registrar':'Actualizar'}"></button>
        </form>
        
    </body>
</html>